Repository gelatoui/core, changes with the labels that .github/labeler.yml gives for each.
All labels: root, package: components, package: react, package: website

chore(assign-issues.yml): fix indentation assign-issues
  .github/workflows/assign-issues.yml
Labels: none

feat(button/*): improve button documentation
  package-lock.json
  packages/components/src/components/atoms/button/button.css
  packages/components/src/components/atoms/button/button.tsx
  packages/components/src/components/atoms/button/readme.md
  packages/components/src/components/atoms/button/usage/button-sizes.md
  packages/components/src/components/atoms/button/usage/button-slots.md
  packages/components/src/components/atoms/button/usage/button-usage.md
  packages/components/src/components/index.ts
  packages/components/stencil.config.ts
  packages/website/docs/button.mdx
  packages/website/docs/intro.md
  packages/website/docs/my-component.mdx
  packages/website/docusaurus.config.ts
  packages/website/package.json
Labels: root, package: components, package: website

fix(button/*): fix button doc styles
  packages/components/package.json
  packages/components/src/components/atoms/button/button.css
  packages/components/src/components/atoms/button/button.destructive.css
  packages/components/src/components/atoms/button/button.primary.css
  packages/components/src/components/atoms/button/button.secondary.css
  packages/components/src/components/atoms/button/button.tsx
  packages/components/src/components/atoms/button/usage/button-slots.md
  packages/website/docusaurus.config.ts
  packages/website/src/css/custom.css
  packages/website/src/pages/index.tsx
  packages/website/src/theme/ReactLiveScope/index.tsx
Labels: package: components, package: website

chore(.github/issue_template): change github issues templates
  .github/ISSUE_TEMPLATE/01-bug-report-plugin.yaml
  .github/ISSUE_TEMPLATE/02-enhancement-rule-option.yaml
  .github/ISSUE_TEMPLATE/03-enhancement-new-rule.yaml
  .github/ISSUE_TEMPLATE/04-enhancement-new-base-rule-extension.yaml
  .github/ISSUE_TEMPLATE/05-documentation-request.yml
  .github/ISSUE_TEMPLATE/06-bug-report-other.yaml
  .github/ISSUE_TEMPLATE/07-enhancement-other.yaml
  .github/ISSUE_TEMPLATE/08-bug-report-complex.yaml
  .github/ISSUE_TEMPLATE/09-config-change.yaml
  .github/ISSUE_TEMPLATE/10-repo-maintenance.yaml
  .github/ISSUE_TEMPLATE/README.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/content-issue.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: none

chore(pull_request_template.md): change pull_request_template file name
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: none

chore(pull_request_template.md): just one pull request template file
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/pull_request_template.md
Labels: none

docs(button): improve button doc usage order
  packages/components/src/components/atoms/button/usage/1 button usage.md
  packages/components/src/components/atoms/button/usage/2 button sizes.md
  packages/components/src/components/atoms/button/usage/3 button slots.md
  packages/components/src/components/atoms/button/usage/button-slots.md
  packages/website/docs/button.mdx
Labels: package: components, package: website

docs(website/docs/*): improve sidebar documentation sections
  packages/website/docs/components/_category_.json
  packages/website/docs/components/atoms/_category_.json
  packages/website/docs/components/atoms/button.mdx
  packages/website/docs/getting-started/_category_.json
  packages/website/docs/getting-started/about.mdx
  packages/website/docs/getting-started/frameworks.mdx
  packages/website/docs/getting-started/installation.mdx
  packages/website/docusaurus.config.ts
Labels: package: website

docs(website/*): improve base documentation and remove unused parts
  .vscode/settings.json
  cspell.config.yaml
  eslint.config.js
  packages/components/src/components/atoms/button/usage/3 button slots.md
  packages/website/blog/2019-05-28-first-blog-post.md
  packages/website/blog/2019-05-29-long-blog-post.md
  packages/website/blog/2021-08-01-mdx-blog-post.mdx
  packages/website/blog/2025-02-05-initial-post/docusaurus-plushie-banner.jpeg
  packages/website/blog/2025-02-05-initial-post/index.md
  packages/website/blog/authors.yml
  packages/website/blog/tags.yml
  packages/website/docs/components/atoms/button.mdx
  packages/website/docs/components/atoms/button/_usage/button-sizes.mdx
  packages/website/docs/components/atoms/button/_usage/button-slots.mdx
  packages/website/docs/components/atoms/button/_usage/button-usage.mdx
  packages/website/docs/components/atoms/button/button.mdx
  packages/website/docs/intro.md
  packages/website/docs/my-component.mdx
  packages/website/docs/tutorial-basics/_category_.json
  packages/website/docs/tutorial-basics/congratulations.md
  packages/website/docs/tutorial-basics/create-a-blog-post.md
  packages/website/docs/tutorial-basics/create-a-document.md
  packages/website/docs/tutorial-basics/create-a-page.md
  packages/website/docs/tutorial-basics/deploy-your-site.md
  packages/website/docs/tutorial-basics/markdown-features.mdx
  packages/website/docs/tutorial-extras/_category_.json
  packages/website/docs/tutorial-extras/img/docsVersionDropdown.png
  packages/website/docs/tutorial-extras/img/localeDropdown.png
  packages/website/docs/tutorial-extras/manage-docs-versions.md
  packages/website/docs/tutorial-extras/translate-your-site.md
  packages/website/docusaurus.config.ts
  packages/website/sidebars.ts
  packages/website/src/pages/index.tsx
Labels: root, package: components, package: website

docs(website/button/_usage/*): improve button usage doc examples
  package-lock.json
  packages/website/docs/components/atoms/button/_usage/button-sizes.mdx
  packages/website/docs/components/atoms/button/_usage/button-slots.mdx
  packages/website/docs/components/atoms/button/_usage/button-usage.mdx
Labels: root, package: website

feat(button/*): update button styles following figma design
  packages/components/src/components/atoms/button/button.css
  packages/components/src/components/atoms/button/button.destructive.css
  packages/components/src/components/atoms/button/button.primary.css
  packages/components/src/components/atoms/button/button.secondary.css
  packages/components/src/components/atoms/button/button.tsx
  packages/website/src/css/custom.css
Labels: package: components, package: website

feat(eslint.config.js): update eslint config to improve the code quality of the project
  eslint.config.js
  package-lock.json
  package.json
  packages/components/readme.md
  packages/components/src/components/atoms/button/button.tsx
  packages/components/src/components/my-component/my-component.tsx
  packages/components/src/components/my-component/readme.md
  packages/components/tsconfig.json
  packages/website/README.md
  packages/website/docs/components/atoms/button/button.mdx
  packages/website/src/pages/markdown-page.md
Labels: root, package: components, package: website

docs(website/docs/*): reorder sidebar options
  packages/website/docs/components/atoms/button/button.mdx
  packages/website/docs/getting-started/about.mdx
  packages/website/docs/getting-started/code/_category_.json
  packages/website/docs/getting-started/code/frameworks.mdx
  packages/website/docs/getting-started/code/installation.mdx
  packages/website/docs/getting-started/design/_category_.json
  packages/website/docs/getting-started/design/figma.mdx
  packages/website/docs/getting-started/icons/_category_.json
Labels: package: website

fix(button.css): fix button anchor styles
  packages/components/src/components/atoms/button/button.css
Labels: package: components

docs(button.mdx): fix button doc figma link styles
  packages/website/docs/components/atoms/button/button.mdx
Labels: package: website

test(button/*): add button unit tests and e2e tests
  packages/components/src/components/atoms/button/button.e2e.ts
  packages/components/src/components/atoms/button/button.spec.ts
Labels: package: components

feat(link/*): implement link component
  packages/components/package.json
  packages/components/src/components/atoms/button/button.css
  packages/components/src/components/atoms/link/link.css
  packages/components/src/components/atoms/link/link.e2e.ts
  packages/components/src/components/atoms/link/link.spec.ts
  packages/components/src/components/atoms/link/link.tsx
  packages/components/src/components/atoms/link/link.types.ts
  packages/components/src/index.html
  packages/components/stencil.config.ts
Labels: package: components

docs(docs/**/link/*): add link docs
  packages/components/src/components/atoms/link/link.css
  packages/components/src/components/atoms/link/link.e2e.ts
  packages/components/src/components/atoms/link/link.spec.ts
  packages/components/src/components/atoms/link/link.tsx
  packages/website/docs/components/atoms/link/_usage/link-sizes.mdx
  packages/website/docs/components/atoms/link/link.mdx
  packages/website/src/theme/ReactLiveScope/index.tsx
Labels: package: components, package: website

docs(docs/**/button/*): improve docs documentation
  packages/website/docs/components/atoms/button/_usage/button-sizes.mdx
  packages/website/docs/components/atoms/button/_usage/button-slots.mdx
  packages/website/docs/components/atoms/button/_usage/button-types.mdx
  packages/website/docs/components/atoms/button/button.mdx
Labels: package: website

feat(link/link.css): add active pseudo-class color
  packages/components/src/components/atoms/link/link.css
Labels: package: components

feat(components/**/icon/*): add support to icon component
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/components/atoms/icon/icon-outline.ts
  packages/components/src/components/atoms/icon/icon-solid.ts
  packages/components/src/components/atoms/icon/icon.tsx
  packages/components/src/components/atoms/icon/icon.types.ts
  packages/components/src/index.html
Labels: root, package: components

refactor(components/**/button/*): refactor some button components files name
  packages/components/src/components/atoms/button/button-destructive.css
  packages/components/src/components/atoms/button/button-primary.css
  packages/components/src/components/atoms/button/button-secondary.css
  packages/components/src/components/atoms/button/button.tsx
Labels: package: components

refactor(components/**/my-component/*): remove unused component
  packages/components/src/components/my-component/my-component.css
  packages/components/src/components/my-component/my-component.e2e.ts
  packages/components/src/components/my-component/my-component.spec.ts
  packages/components/src/components/my-component/my-component.tsx
  packages/components/src/components/my-component/readme.md
Labels: package: components

feat(components/**/icon/*): add icon sizing
  packages/components/src/components/atoms/icon/icon.css
  packages/components/src/components/atoms/icon/icon.tsx
  packages/components/src/index.html
Labels: package: components

feat(components/**/icon/*): add jsdoc to icon component
  packages/components/src/components/atoms/icon/icon.tsx
Labels: package: components

feat(stencil.config.ts): add coverage testing support
  .gitignore
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/stencil.config.ts
Labels: root, package: components

feat(components/**/icon/*): add icon unit test and e2e tests
  packages/components/src/components/atoms/icon/icon.e2e.ts
  packages/components/src/components/atoms/icon/icon.spec.ts
Labels: package: components

feat(components/**/icon/*): add some aditional icon unit tests
  packages/components/src/components/atoms/icon/icon.spec.ts
  packages/components/src/components/atoms/icon/icon.tsx
Labels: package: components

docs(website/doc/**/icon/*): add icon documentation
  packages/components/src/components/atoms/icon/icon.tsx
  packages/website/docs/components/atoms/icon/_usage/icon-customization.mdx
  packages/website/docs/components/atoms/icon/_usage/icon-size.mdx
  packages/website/docs/components/atoms/icon/_usage/icon-variants.mdx
  packages/website/docs/components/atoms/icon/icon.mdx
  packages/website/docs/getting-started/icons/_category_.json
  packages/website/src/theme/ReactLiveScope/index.tsx
Labels: package: components, package: website

test(icon.spec.ts): fix tests
  packages/components/src/components/atoms/icon/icon.spec.ts
Labels: package: components

refactor(icon.tsx): small icon code adjustments
  packages/components/src/components/atoms/icon/icon.spec.ts
  packages/components/src/components/atoms/icon/icon.tsx
Labels: package: components

feat(components/**/text/*): add text component draft
  packages/components/src/components/atoms/_text/readme.md
  packages/components/src/components/atoms/_text/text.css
  packages/components/src/components/atoms/_text/text.tsx
Labels: package: components

feat(components/**/label/*): add label component
  packages/components/src/components/molecules/label/label.css
  packages/components/src/components/molecules/label/label.e2e.ts
  packages/components/src/components/molecules/label/label.spec.ts
  packages/components/src/components/molecules/label/label.tsx
  packages/components/src/index.html
Labels: package: components

feat(components/**/helper-text/*): add helper text component
  packages/components/src/components/atoms/tooltip/.keep
  packages/components/src/components/molecules/helper-text/helper-text.css
  packages/components/src/components/molecules/helper-text/helper-text.e2e.ts
  packages/components/src/components/molecules/helper-text/helper-text.spec.ts
  packages/components/src/components/molecules/helper-text/helper-text.tsx
Labels: package: components

test(icon.spec.ts): remove console error coming from icon tests
  packages/components/src/components/atoms/icon/icon.e2e.ts
  packages/components/src/components/atoms/icon/icon.spec.ts
  packages/components/src/components/organisms/.keep
Labels: package: components

docs(package.json): add mermaid support
  package-lock.json
  package.json
Labels: root

build(stencil.config.ts): move www build dir
  .vscode/settings.json
  packages/components/stencil.config.ts
Labels: package: components

refactor(link.tsx): change link class
  packages/components/src/components/atoms/link/link.spec.ts
  packages/components/src/components/atoms/link/link.tsx
  packages/components/src/index.html
Labels: package: components

refactor(components/**/label/*): refactor container class and jsodc for the slots
  packages/components/src/components/molecules/label/label.css
  packages/components/src/components/molecules/label/label.spec.ts
  packages/components/src/components/molecules/label/label.tsx
  packages/website/docusaurus.config.ts
Labels: package: components, package: website

fix(helper-text.e2e.ts): fix helper text component end to end test consol error
  packages/components/src/components/molecules/helper-text/helper-text.e2e.ts
Labels: package: components

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

root:
- changed-files:
  - any-glob-to-any-file: '*'

'package: components':
- changed-files:
  - any-glob-to-any-file: ['packages/components/**/*']

'package: react':
- changed-files:
  - any-glob-to-any-file: ['packages/react/**/*']

'package: website':
- changed-files:
  - any-glob-to-any-file: ['packages/website/**/*']
