Repository gelatoui/core, changes with the labels that .github/labeler.yml gives for each.
All labels: root, package: components, package: react, package: website

docs(website/docs/**): add label and help text documentation
  packages/website/docs/components/atoms/button/button.mdx
  packages/website/docs/components/atoms/icon/icon.mdx
  packages/website/docs/components/atoms/link/link.mdx
  packages/website/docs/components/molecules/_category_.json
  packages/website/docs/components/molecules/helper-text/_usage/helper-text-basic.mdx
  packages/website/docs/components/molecules/helper-text/helper-text.mdx
  packages/website/docs/components/molecules/label/_usage/label-basic.mdx
  packages/website/docs/components/molecules/label/label.mdx
  packages/website/docs/components/organisms/_category_.json
  packages/website/src/theme/ReactLiveScope/index.tsx
Labels: package: website

refactor(components/**): fix some eslint errors
  eslint.config.js
  packages/components/src/components/atoms/_text/text.tsx
  packages/components/src/components/atoms/button/button.tsx
  packages/components/src/components/atoms/button/button.types.ts
  packages/components/src/components/atoms/icon/icon.tsx
  packages/components/src/components/atoms/icon/icon.types.ts
  packages/components/src/components/atoms/link/link.tsx
  packages/components/src/components/molecules/helper-text/helper-text.css
  packages/components/src/components/molecules/helper-text/helper-text.tsx
  packages/components/src/components/molecules/label/label.css
  packages/components/src/components/molecules/label/label.tsx
  packages/website/docusaurus.config.ts
Labels: root, package: components, package: website

refactor(icon/*): refactor icon add the possibility of changing color
  packages/components/src/components/atoms/icon/icon.css
  packages/components/src/components/atoms/icon/icon.tsx
  packages/components/src/index.html
  packages/components/stencil.config.ts
Labels: package: components

feat(input/*): input first version
  packages/components/src/components/molecules/inputs/input.css
  packages/components/src/components/molecules/inputs/input.types.ts
  packages/components/src/components/molecules/inputs/inputs.tsx
Labels: package: components

feat(input/*): add additional features to the input component
  packages/components/src/components/molecules/inputs/input.css
  packages/components/src/components/molecules/inputs/inputs.tsx
  packages/components/src/index.html
Labels: package: components

docs(docs/**input/*): add basic input documentation
  packages/website/docs/components/molecules/input/input.mdx
Labels: package: website

fix(input/*): fix input folder structure
  packages/components/src/components/molecules/input/input.css
  packages/components/src/components/molecules/input/input.tsx
  packages/components/src/components/molecules/input/input.types.ts
Labels: package: components

test(icon/*): fix icon tests
  packages/components/src/components/atoms/icon/icon.e2e.ts
  packages/components/src/components/atoms/icon/icon.spec.ts
  packages/components/src/components/atoms/icon/icon.tsx
  packages/components/src/components/molecules/helper-text/helper-text.spec.ts
  packages/components/src/components/molecules/input/inputs.tsx
  packages/components/src/components/molecules/label/label.spec.ts
Labels: package: components

fix(cspell.config.yaml): fix some eslint spell errors
  cspell.config.yaml
  packages/components/src/components/atoms/icon/icon.e2e.ts
Labels: root, package: components

refactor(input.tsx): inputs to input file
  packages/components/src/components/molecules/input/input.tsx
Labels: package: components

docs(input.tsx): add jsdocs commnets to input component
  packages/components/src/components/molecules/input/input.tsx
Labels: package: components

feat(helper-text): add is-error to helper text component
  packages/components/src/components/molecules/helper-text/helper-text.css
  packages/components/src/components/molecules/helper-text/helper-text.e2e.ts
  packages/components/src/components/molecules/helper-text/helper-text.spec.ts
  packages/components/src/components/molecules/helper-text/helper-text.tsx
  packages/components/src/components/molecules/input/input.css
  packages/components/src/index.html
Labels: package: components

test(input/**): add input unit test and e2e tests
  packages/components/src/components/molecules/input/__snapshots__/input.spec.ts.snap
  packages/components/src/components/molecules/input/input.css
  packages/components/src/components/molecules/input/input.e2e.ts
  packages/components/src/components/molecules/input/input.spec.ts
  packages/components/src/components/molecules/input/input.tsx
Labels: package: components

feat(input-field/*): first input-field component version
  packages/components/src/components/organisms/input-field/input-field.css
  packages/components/src/components/organisms/input-field/input-field.tsx
  packages/components/src/index.html
  packages/website/docs/components/organisms/input-field/input-field.mdx
Labels: package: components, package: website

feat(input-field/*): input field second version
  packages/components/package.json
  packages/components/src/components/atoms/icon/icon.tsx
  packages/components/src/components/molecules/helper-text/helper-text.tsx
  packages/components/src/components/molecules/input/input.tsx
  packages/components/src/components/organisms/input-field/input-field.tsx
  packages/components/src/utils/helpers.ts
  packages/components/tsconfig.json
  packages/website/docs/components/organisms/input-field/input-field.mdx
Labels: package: components, package: website

refactor(packages/**): refactor project structure
  packages/components/package.json
  packages/components/src/components/helper-text/helper-text.spec.ts
  packages/components/src/components/input-field/_base-input/__snapshots__/input.spec.ts.snap
  packages/components/src/components/input-field/_base-input/input.css
  packages/components/src/components/input-field/_base-input/input.e2e.ts
  packages/components/src/components/input-field/_base-input/input.spec.ts
  packages/components/src/components/input-field/_base-input/input.tsx
  packages/components/src/components/input-field/_base-input/input.types.ts
  packages/components/src/components/input-field/input-field.tsx
  packages/website/docs/components/1.icon/_category_.json
  packages/website/docs/components/1.icon/_usage/icon-customization.mdx
  packages/website/docs/components/1.icon/_usage/icon-size.mdx
  packages/website/docs/components/1.icon/_usage/icon-variants.mdx
  packages/website/docs/components/1.icon/icon.mdx
  packages/website/docs/components/2.avatar/_category_.json
  packages/website/docs/components/2.avatar/avatar.mdx
  packages/website/docs/components/3.button/_category_.json
  packages/website/docs/components/3.button/_usage/button-sizes.mdx
  packages/website/docs/components/3.button/_usage/button-slots.mdx
  packages/website/docs/components/3.button/_usage/button-types.mdx
  packages/website/docs/components/3.button/button.mdx
  packages/website/docs/components/4.link/_category_.json
  packages/website/docs/components/4.link/_usage/link-sizes.mdx
  packages/website/docs/components/4.link/link.mdx
  packages/website/docs/components/5.form-controls/_category_.json
  packages/website/docs/components/6.inputs/_category_.json
  packages/website/docs/components/6.inputs/helper-text/_usage/helper-text-basic.mdx
  packages/website/docs/components/6.inputs/helper-text/helper-text.mdx
  packages/website/docs/components/6.inputs/input/input.mdx
  packages/website/docs/components/6.inputs/label/_usage/label-basic.mdx
  packages/website/docs/components/6.inputs/label/label.mdx
  packages/website/docs/components/atoms/_category_.json
  packages/website/docs/components/molecules/_category_.json
  packages/website/docs/components/molecules/input/input.mdx
  packages/website/docs/components/organisms/_category_.json
  packages/website/docusaurus.config.ts
  packages/website/src/pages/index.tsx
Labels: package: components, package: website

refactor(components/**/input/*): refactor input, now it works with just one component
  packages/components/src/components/input-field/_base-input/__snapshots__/input.spec.ts.snap
  packages/components/src/components/input-field/_base-input/input.tsx
  packages/components/src/components/input-field/input-field.css
  packages/components/src/components/input-field/input-field.tsx
  packages/components/src/components/input/input.css
  packages/components/src/components/input/input.e2e.ts
  packages/components/src/components/input/input.spec.ts
  packages/components/src/components/input/input.tsx
  packages/components/src/components/input/input.types.ts
  packages/components/src/index.html
  packages/website/docs/components/6.inputs/input/input.mdx
Labels: package: components, package: website

fix(inpu/*): fix some input styles and behaviour
  packages/components/src/components/input/input.css
  packages/components/src/components/input/input.tsx
  packages/components/src/components/input/input.types.ts
  packages/components/src/index.html
  packages/website/src/theme/ReactLiveScope/index.tsx
Labels: package: components, package: website

test(components/**/input/*): improve input tests
  packages/components/src/components/input/__snapshots__/input.spec.ts.snap
  packages/components/src/components/input/input.e2e.ts
  packages/components/src/components/input/input.spec.ts
  packages/components/src/components/input/input.tsx
  packages/components/src/index.html
  packages/components/src/utils/helpers.spec.ts
Labels: package: components

build(package.json): fix export types config
  packages/components/package.json
Labels: package: components

fix(input.tsx): fix default props values
  packages/components/src/components/input/input.tsx
Labels: package: components

test(input/*): improve unit test coverage
  packages/components/package.json
  packages/components/src/components/helper-text/helper-text.tsx
  packages/components/src/components/icon/icon.tsx
  packages/components/src/components/input/__snapshots__/input.spec.ts.snap
  packages/components/src/components/input/input.spec.ts
  packages/components/src/components/input/input.tsx
Labels: package: components

test(input/*): improve tests coverage
  packages/components/src/components/icon/icon.spec.ts
  packages/components/src/components/input/input.spec.ts
  packages/components/src/components/input/input.tsx
Labels: package: components

feat(components/**/checkbox/*): initial checkbox implementation
  packages/components/src/components/checkbox/checkbox.css
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/helper-text/helper-text.tsx
  packages/components/src/index.html
Labels: package: components

feat(checkbox/*): add unit test, improve documentation and fix some styles
  packages/components/src/components/checkbox/checkbox.css
  packages/components/src/components/checkbox/checkbox.spec.ts
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/input/input.css
  packages/components/src/index.html
  packages/website/docs/components/5.form-controls/checkbox/checkbox.mdx
Labels: package: components, package: website

feat(checkbox/*): add hidden input and hasIndeterminate feature
  packages/components/src/components/checkbox/checkbox.css
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/index.html
Labels: package: components

test(checkbox/*): improve checkbox test coverage
  packages/components/src/components/checkbox/checkbox.spec.ts
  packages/components/src/components/helper-text/helper-text.css
  packages/components/src/components/helper-text/helper-text.e2e.ts
  packages/components/src/components/helper-text/helper-text.spec.ts
  packages/components/src/components/helper-text/helper-text.tsx
Labels: package: components

test(checkbox.e2e.ts): add e2e checkbox tests
  packages/components/src/components/checkbox/checkbox.e2e.ts
Labels: package: components

feat(radio/*): initial Radio button component
  packages/components/src/components/radio/radio.css
  packages/components/src/components/radio/radio.tsx
  packages/components/src/index.html
Labels: package: components

test(radio/*): radio unit tests and e2e tests
  packages/components/src/components/checkbox/checkbox.spec.ts
  packages/components/src/components/radio/radio.e2e.ts
  packages/components/src/components/radio/radio.spec.ts
Labels: package: components

docs(form-controls): form-controls/*
  packages/website/docs/components/5.form-controls/checkbox/checkbox.mdx
  packages/website/docs/components/5.form-controls/radio/radio.mdx
Labels: package: website

feat(toggle/*): initial toggle component
  packages/components/src/components/toggle/toggle.css
  packages/components/src/components/toggle/toggle.tsx
  packages/components/src/index.html
  packages/website/docs/components/5.form-controls/toggle/toggle.mdx
Labels: package: components, package: website

test(toggle/*): add toggle unit tests and e2e tests
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/radio/radio.tsx
  packages/components/src/components/toggle/toggle.e2e.ts
  packages/components/src/components/toggle/toggle.spec.ts
  packages/components/src/components/toggle/toggle.tsx
  packages/website/docs/components/5.form-controls/checkbox/_category_.json
  packages/website/docs/components/5.form-controls/radio/_category_.json
  packages/website/docs/components/5.form-controls/toggle/_category_.json
Labels: package: components, package: website

docs(doc/**): unify documentation in a single file
  packages/website/docs/components/1.icon/_usage/icon-customization.mdx
  packages/website/docs/components/1.icon/_usage/icon-size.mdx
  packages/website/docs/components/1.icon/_usage/icon-variants.mdx
  packages/website/docs/components/1.icon/icon.mdx
  packages/website/docs/components/3.button/_usage/button-sizes.mdx
  packages/website/docs/components/3.button/_usage/button-slots.mdx
  packages/website/docs/components/3.button/_usage/button-types.mdx
  packages/website/docs/components/3.button/button.mdx
  packages/website/docs/components/4.link/_usage/link-sizes.mdx
  packages/website/docs/components/4.link/link.mdx
Labels: package: website

docs(doc/**): improve button and icon documentation
  packages/components/src/components/button/button.css
  packages/components/src/components/button/button.tsx
  packages/components/src/components/icon/icon.tsx
  packages/website/docs/components/1.icon/icon.mdx
  packages/website/docs/components/2.avatar/avatar.mdx
  packages/website/docs/components/3.button/button.mdx
  packages/website/docs/components/5.form-controls/checkbox/_category_.json
  packages/website/docs/components/5.form-controls/radio/_category_.json
  packages/website/docs/components/5.form-controls/toggle/_category_.json
  packages/website/docs/components/5.form-controls/toggle/toggle.mdx
Labels: package: components, package: website

refactor(components/**): add inheritedAttributes, missing in some components
  packages/components/src/components/button/button.tsx
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/helper-text/helper-text.tsx
  packages/components/src/components/icon/icon.tsx
  packages/components/src/components/label/label.tsx
  packages/components/src/components/link/link.tsx
Labels: package: components

docs(doc/**/link/*): improve link component documentation
  packages/website/docs/components/4.link/link.mdx
Labels: package: website

docs(doc/**): refactor doc order
  packages/components/src/components/button/button.tsx
  packages/website/docs/components/1.icon/icon.mdx
  packages/website/docs/components/5.form-controls/checkbox/_category_.json
  packages/website/docs/components/5.form-controls/radio/_category_.json
  packages/website/docs/components/5.form-controls/toggle/_category_.json
  packages/website/docs/components/5.label/_category_.json
  packages/website/docs/components/5.label/_usage/label-basic.mdx
  packages/website/docs/components/5.label/label.mdx
  packages/website/docs/components/6.helper-text/_category_.json
  packages/website/docs/components/6.helper-text/_usage/helper-text-basic.mdx
  packages/website/docs/components/6.helper-text/helper-text.mdx
  packages/website/docs/components/6.inputs/_category_.json
  packages/website/docs/components/7.form-controls/1.input/_category_.json
  packages/website/docs/components/7.form-controls/1.input/input.mdx
  packages/website/docs/components/7.form-controls/2.checkbox/_category_.json
  packages/website/docs/components/7.form-controls/2.checkbox/checkbox.mdx
  packages/website/docs/components/7.form-controls/3.radio/_category_.json
  packages/website/docs/components/7.form-controls/3.radio/radio.mdx
  packages/website/docs/components/7.form-controls/4.toggle/_category_.json
  packages/website/docs/components/7.form-controls/4.toggle/toggle.mdx
  packages/website/docs/components/7.form-controls/_category_.json
  packages/website/docusaurus.config.ts
Labels: package: components, package: website

refactor(label.tsx): change some props about icon in the label component
  packages/components/src/components/label/label.tsx
Labels: package: components

docs(label.mdx): initial label documentation
  packages/website/docs/components/5.label/label.mdx
Labels: package: website

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

root:
- changed-files:
  - any-glob-to-any-file: '*'

'package: components':
- changed-files:
  - any-glob-to-any-file: ['packages/components/**/*']

'package: react':
- changed-files:
  - any-glob-to-any-file: ['packages/react/**/*']

'package: website':
- changed-files:
  - any-glob-to-any-file: ['packages/website/**/*']
