Repository gelatoui/core, changes with the labels that .github/labeler.yml gives for each.
All labels: root, package: components, package: react, package: website

refactor(menu/*): refactor menu component and sub items
  packages/components/src/components/button/button.spec.ts
  packages/components/src/components/button/button.tsx
  packages/components/src/components/helper-text/helper-text.css
  packages/components/src/components/menu-dropdown/menu-dropdown.css
  packages/components/src/components/menu-dropdown/menu-dropdown.tsx
  packages/components/src/components/menu-item/__snapshots__/menu-item.spec.ts.snap
  packages/components/src/components/menu-item/menu-item.e2e.ts
  packages/components/src/components/menu-item/menu-item.tsx
  packages/components/src/components/menu-label/menu-label.css
  packages/components/src/components/menu-label/menu-label.e2e.ts
  packages/components/src/components/menu-label/menu-label.spec.ts
  packages/components/src/components/menu-label/menu-label.tsx
  packages/components/src/components/menu/menu.css
  packages/components/src/components/menu/menu.tsx
  packages/components/src/index.html
  packages/website/docs/components/10.menu/1.menu.mdx
  packages/website/docs/components/10.menu/2.menu-label.mdx
  packages/website/docs/components/10.menu/3.menu-dropdown.mdx
  packages/website/docs/getting-started/design/figma.mdx
  packages/website/docusaurus.config.ts
  packages/website/src/css/custom.css
  packages/website/src/theme/Navbar/Content/index.tsx
  packages/website/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/website/src/theme/NavbarItem/DropdownNavbarItem/index.tsx
  packages/website/src/theme/ReactLiveScope/index.tsx
Labels: package: components, package: website

feat(menu/*): improve menu component and improve doc navigation
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/components/menu-dropdown/menu-dropdown.css
  packages/components/src/components/menu-dropdown/menu-dropdown.tsx
  packages/components/src/components/menu-label/menu-label.css
  packages/components/src/components/menu-label/menu-label.tsx
  packages/components/src/components/menu/menu.css
  packages/website/docs/components/10.menu/2.menu-label.mdx
  packages/website/docs/components/10.menu/3.menu-dropdown.mdx
  packages/website/src/css/custom.css
  packages/website/src/theme/Navbar/Content/index.tsx
  packages/website/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/website/src/theme/NavbarItem/DropdownNavbarItem/index.tsx
  packages/website/src/theme/NavbarItem/NavbarNavLink.tsx
Labels: package: components, package: website

fix(menu-label.css): fix menu label link hover
  packages/components/src/components/menu-label/menu-label.css
Labels: package: components

feat(flex.tsx): add flex component
  packages/components/src/components/flex/flex.css
  packages/components/src/components/flex/flex.tsx
Labels: package: components

feat(grid.tsx): add grid component
  packages/components/src/components/grid/grid.css
  packages/components/src/components/grid/grid.tsx
Labels: package: components

fix(menu/*): fix some menu styles and errors
  packages/components/src/components/menu/menu.css
  packages/components/src/components/menu/menu.tsx
  packages/components/src/index.html
  packages/website/docusaurus.config.ts
  packages/website/src/css/custom.css
  packages/website/src/css/navigation.css
  packages/website/src/pages/index.tsx
  packages/website/src/theme/NavbarItem/DefaultNavbarItem.tsx
  packages/website/src/theme/NavbarItem/DropdownNavbarItem/index.tsx
Labels: package: components, package: website

feat(flex.tsx): add isCenter attribute to the flex component
  packages/components/src/components/flex/flex.tsx
Labels: package: components

refactor(text/*): move text component from draft
  packages/components/src/components/_text/readme.md
  packages/components/src/components/text/text.css
  packages/components/src/components/text/text.tsx
Labels: package: components

docs(doc/*): add documentation home page header and start to work in the about
  packages/components/src/components/button/button.tsx
  packages/components/src/components/flex/flex.tsx
  packages/components/src/components/icon/icon.css
  packages/components/src/components/menu/menu.css
  packages/components/src/components/text/text.tsx
  packages/components/src/styles/custom-variables.css
  packages/components/src/styles/index.css
  packages/website/docs/components/11.flex/_category_.json
  packages/website/docs/components/11.flex/flex.mdx
  packages/website/docusaurus.config.ts
  packages/website/src/components/HomepageFeatures/index.tsx
  packages/website/src/components/HomepageFeatures/styles.module.css
  packages/website/src/components/about/about.module.css
  packages/website/src/components/about/about.tsx
  packages/website/src/components/header/header.module.css
  packages/website/src/components/header/header.tsx
  packages/website/src/pages/index.tsx
  packages/website/static/img/home/frameworks.png
  packages/website/static/img/home/screen.jpg
Labels: package: components, package: website

feat(text.tsx): add text component color support
  packages/components/src/components/text/text.tsx
Labels: package: components

feat(flex.tsx): add gap number support in flex component
  packages/components/src/components/flex/flex.tsx
  packages/website/src/components/about/about.tsx
  packages/website/src/components/header/header.tsx
Labels: package: components, package: website

docs(components/**): fix inheritedAttributes comment in some components
  packages/components/src/components/button/button.tsx
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/helper-text/helper-text.tsx
  packages/components/src/components/icon/icon.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/label/label.tsx
  packages/components/src/components/link/link.tsx
Labels: package: components

feat(docs/**): header and about styles and layout
  cspell.config.yaml
  packages/components/src/components/flex/flex.tsx
  packages/components/src/components/icon/icon.tsx
  packages/website/src/components/about/about.module.css
  packages/website/src/components/about/about.tsx
  packages/website/src/components/cards/cards.module.css
  packages/website/src/components/cards/cards.tsx
  packages/website/src/components/header/header.module.css
  packages/website/src/components/header/header.tsx
  packages/website/src/css/custom.css
  packages/website/src/pages/index.tsx
  packages/website/static/img/home/figma.png
Labels: root, package: components, package: website

refactor(menu.tsx): improve menu component responsive logic
  packages/components/src/components/menu/menu.tsx
Labels: package: components

docs(responsive.mdx): add some initial responsive documentation
  packages/website/docs/getting-started/code/responsive.mdx
Labels: package: website

feat(flex/*): make flex component more optimized for responsive
  packages/components/src/components/flex/flex.css
  packages/components/src/components/flex/flex.tsx
Labels: package: components

refactor(grid/**): update gird component
  packages/components/src/components/grid/grid.css
  packages/components/src/components/grid/grid.tsx
Labels: package: components

docs(website/**): footer initial version
  packages/website/docusaurus.config.ts
  packages/website/src/components/header/header.module.css
  packages/website/src/components/header/header.tsx
  packages/website/src/theme/Footer/Layout/index.tsx
  packages/website/src/theme/Footer/Links/MultiColumn/index.tsx
Labels: package: website

feat(website/**): improve responsive
  packages/components/src/components/flex/flex.css
  packages/website/src/components/about/about.module.css
  packages/website/src/components/cards/cards.module.css
  packages/website/src/components/cards/cards.tsx
  packages/website/src/components/header/header.module.css
  packages/website/src/components/header/header.tsx
  packages/website/src/css/custom.css
  packages/website/src/css/navigation.css
  packages/website/src/theme/Footer/Layout/Layout.module.css
  packages/website/src/theme/Footer/Layout/index.tsx
  packages/website/src/theme/Footer/Links/MultiColumn/MultiColumn.module.css
  packages/website/src/theme/Footer/Links/MultiColumn/index.tsx
Labels: package: components, package: website

fix(website/**): fix some links and smal styles adjustments
  packages/components/src/components/menu-label/__snapshots__/menu-label.spec.ts.snap
  packages/website/docusaurus.config.ts
  packages/website/src/components/about/about.module.css
  packages/website/src/components/about/about.tsx
  packages/website/src/components/header/header.tsx
  packages/website/src/pages/templates/index.tsx
  packages/website/src/theme/Navbar/Content/NavbarContent.module.css
  packages/website/static/img/home/screen.jpg
  packages/website/static/img/home/screen.png
Labels: package: components, package: website

test(menu-label/*): fix menu-label tests
  packages/components/src/components/flex/flex.tsx
  packages/components/src/components/icon/icon.css
  packages/components/src/components/menu-label/menu-label.e2e.ts
  packages/components/src/components/menu-label/menu-label.spec.ts
  packages/components/src/components/menu-label/menu-label.tsx
  packages/components/src/components/menu/menu.spec.ts
  packages/website/src/components/about/about.tsx
Labels: package: components, package: website

test(components/**): add flex tests and fix oter tests
  packages/components/src/components/dropdown/dropdown.spec.ts
  packages/components/src/components/flex/flex.e2e.tsx
  packages/components/src/components/flex/flex.spec.tsx
  packages/components/src/components/icon/icon.e2e.ts
  packages/components/src/components/menu-label/__snapshots__/menu-label.spec.ts.snap
  packages/components/src/components/menu-label/menu-label.spec.ts
  packages/components/src/components/menu/menu.e2e.tsx
  packages/components/src/components/menu/menu.spec.ts
Labels: package: components

refactor(components/**): remove unused code
  packages/components/src/components/button/button-destructive.css
  packages/components/src/components/button/button-primary.css
  packages/components/src/components/button/button-secondary.css
  packages/components/src/components/button/button.css
  packages/components/src/components/button/button.tsx
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/flex/flex.tsx
  packages/components/src/components/grid/grid.tsx
  packages/components/src/components/helper-text/helper-text.css
  packages/components/src/components/helper-text/helper-text.tsx
  packages/components/src/components/icon/icon.tsx
  packages/components/src/components/input/input.css
  packages/components/src/components/input/input.tsx
  packages/components/src/components/label/label.css
  packages/components/src/components/label/label.tsx
  packages/components/src/components/link/link.tsx
  packages/components/src/components/menu-label/menu-label.tsx
  packages/components/src/components/radio/radio.tsx
  packages/components/src/components/text/text.tsx
  packages/components/src/components/toggle/toggle.tsx
Labels: package: components

test(components/**): fix tests
  packages/components/src/components/button/button.e2e.ts
  packages/components/src/components/button/button.spec.ts
  packages/components/src/components/button/button.tsx
  packages/components/src/components/checkbox/checkbox.spec.ts
  packages/components/src/components/label/label.e2e.ts
  packages/components/src/components/link/link.e2e.ts
  packages/components/src/components/link/link.spec.ts
  packages/components/src/components/menu-label/menu-label.spec.ts
Labels: package: components

build(package.json): update dependencias and basic remark-sandpack config
  cspell.config.yaml
  package-lock.json
  package.json
  packages/website/docusaurus.config.ts
  packages/website/package.json
Labels: root, package: website

test(menu/*): improve menu test
  packages/components/src/components/menu/menu.spec.ts
  packages/website/src/theme/Navbar/Content/NavbarContent.module.css
  packages/website/src/theme/Navbar/Content/index.tsx
  packages/website/src/theme/NavbarItem/NavbarNavLink.tsx
Labels: package: components, package: website

refactor(/**): rename santi repo to gelato/core repo
  .env.example
  .github/DISCUSSION_TEMPLATE/rfcs.yml
  .github/DISCUSSION_TEMPLATE/technical-discussions.yml
  .github/ISSUE_TEMPLATE.md
  .github/SECURITY.md
  .github/SPONSORSHIPS.md
  .github/replies.yml
  .github/workflows/release.yml
  DEVELOPMENT.md
  README.md
  cspell.config.yaml
  package-lock.json
  package.json
  packages/components/README.md
  packages/components/package.json
  packages/react/README.md
  packages/react/package.json
  packages/website/README.md
  packages/website/docusaurus.config.ts
Labels: root, package: components, package: react, package: website

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

root:
- changed-files:
  - any-glob-to-any-file: '*'

'package: components':
- changed-files:
  - any-glob-to-any-file: ['packages/components/**/*']

'package: react':
- changed-files:
  - any-glob-to-any-file: ['packages/react/**/*']

'package: website':
- changed-files:
  - any-glob-to-any-file: ['packages/website/**/*']
