Repository gelatoui/core, changes with the labels that .github/labeler.yml gives for each.
All labels: root, package: components, package: react, package: website

.github/labeler.yml:

# This is used with the label workflow which
# will triage pull requests and apply a label based on the
# paths that are modified in the pull request.
#
# For more information, see:
# https://github.com/actions/labeler

root:
- changed-files:
  - any-glob-to-any-file: '*'

'package: components':
- changed-files:
  - any-glob-to-any-file: ['packages/components/**/*']

'package: react':
- changed-files:
  - any-glob-to-any-file: ['packages/react/**/*']

'package: website':
- changed-files:
  - any-glob-to-any-file: ['packages/website/**/*']

docs(label.mdx): improve label documentation with the last changes
  packages/website/docs/components/5.label/_usage/label-basic.mdx
  packages/website/docs/components/5.label/label.mdx
Labels: package: website

fix(icon.css): fix icon styles
  packages/components/src/components/icon/icon.css
Labels: package: components

refactor(utils/*): refactor utils folder to make it easier to add new utils
  packages/components/src/components/button/button.tsx
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/helper-text/helper-text.tsx
  packages/components/src/components/icon/icon.e2e.ts
  packages/components/src/components/icon/icon.tsx
  packages/components/src/components/input/input.tsx
  packages/components/src/components/label/label.spec.ts
  packages/components/src/components/label/label.tsx
  packages/components/src/components/link/link.tsx
  packages/components/src/components/radio/radio.tsx
  packages/components/src/components/toggle/toggle.tsx
  packages/components/src/utils/get-size-value/get-size-value.spec.ts
  packages/components/src/utils/get-size-value/get-size-value.ts
  packages/components/src/utils/helpers/helpers.spec.ts
  packages/components/src/utils/helpers/helpers.ts
  packages/components/src/utils/is-valid-number/is-valid-number.spec.ts
  packages/components/src/utils/is-valid-number/is-valid-number.ts
Labels: package: components

docs(doc/**): add initial doc input and helper text
  packages/components/src/components/helper-text/helper-text.css
  packages/components/src/components/helper-text/helper-text.tsx
  packages/components/src/components/icon/icon.e2e.ts
  packages/website/docs/components/1.icon/icon.mdx
  packages/website/docs/components/6.helper-text/_usage/helper-text-basic.mdx
  packages/website/docs/components/6.helper-text/helper-text.mdx
  packages/website/docs/components/7.form-controls/1.input/input.mdx
Labels: package: components, package: website

feat(radio.tsx): uncheck other radios in the same group
  packages/components/src/components/radio/radio.tsx
Labels: package: components

docs(docs/*): input checkbox radio toggle documentation
  packages/website/docs/components/7.form-controls/1.input/input.mdx
  packages/website/docs/components/7.form-controls/2.checkbox/checkbox.mdx
  packages/website/docs/components/7.form-controls/3.radio/radio.mdx
  packages/website/docs/components/7.form-controls/4.toggle/toggle.mdx
Labels: package: website

fix(components/*): small fixes
  packages/components/package.json
  packages/components/src/components/checkbox/checkbox.tsx
  packages/components/src/components/icon/icon.css
  packages/components/src/components/icon/icon.e2e.ts
  packages/components/src/components/input/input.tsx
  packages/components/src/components/toggle/toggle.tsx
Labels: package: components

feat(components/**/breadcrumb/*): initial breadcrumbs
  packages/components/src/components/breadcrumb/breadcrumb.css
  packages/components/src/components/breadcrumb/breadcrumb.tsx
  packages/components/src/components/breadcrumbs/breadcrumbs.css
  packages/components/src/components/breadcrumbs/breadcrumbs.tsx
  packages/components/src/index.html
Labels: package: components

build(package.json): update dependencies
  package-lock.json
  package.json
  packages/components/package.json
  packages/react/package.json
  packages/website/package.json
Labels: root, package: components, package: react, package: website

chore(package.json): change version to initial version 0.0.1
  package-lock.json
  package.json
  packages/components/package.json
  packages/react/package-lock.json
  packages/react/package.json
  packages/website/docs/components/3.button/_button_v2.mdx
  packages/website/package.json
Labels: root, package: components, package: react, package: website

feat(breadcrumb): fix breadcrumb styles
  packages/components/src/components/breadcrumb/breadcrumb.css
  packages/components/src/components/breadcrumb/breadcrumb.tsx
  packages/components/src/components/breadcrumbs/breadcrumbs.css
  packages/components/src/components/helper-text/helper-text.tsx
  packages/components/src/index.html
Labels: package: components

test(breadcrumb/*): add breadcrumb tests
  packages/components/src/components/breadcrumb/breadcrumb.e2e.ts
  packages/components/src/components/breadcrumb/breadcrumb.spec.ts
  packages/components/src/components/breadcrumb/breadcrumb.tsx
Labels: package: components

docs(breadcrumb/*): initial breadcrumb documentation
  packages/website/docs/components/8.breadcrumb/_category_.json
  packages/website/docs/components/8.breadcrumb/breadcrumb.mdx
Labels: package: website

docs(breadcrumb.mdx): improve breadcrumb documentation
  packages/components/src/components/breadcrumb/breadcrumb.tsx
  packages/website/docs/components/8.breadcrumb/breadcrumb.mdx
Labels: package: components, package: website

test(breadcrumbs/*): add breadcrumbs tests
  packages/components/src/components/breadcrumbs/breadcrumbs.e2e.ts
  packages/components/src/components/breadcrumbs/breadcrumbs.spec.ts
  packages/components/src/components/breadcrumbs/breadcrumbs.tsx
Labels: package: components

docs(breadcrumbs/*): add breadcrumbs documentation
  packages/website/docs/components/8.breadcrumbs/1.breadcrumb.mdx
  packages/website/docs/components/8.breadcrumbs/2.breadcrumbs.mdx
Labels: package: website

docs(form-controls/*): moved some form controls documentation files
  packages/components/src/components/icon/icon.e2e.ts
  packages/website/docs/components/7.form-controls/1.input.mdx
  packages/website/docs/components/7.form-controls/1.input/_category_.json
  packages/website/docs/components/7.form-controls/2.checkbox.mdx
  packages/website/docs/components/7.form-controls/2.checkbox/_category_.json
  packages/website/docs/components/7.form-controls/3.radio.mdx
  packages/website/docs/components/7.form-controls/3.radio/_category_.json
  packages/website/docs/components/7.form-controls/4.toggle.mdx
  packages/website/docs/components/7.form-controls/4.toggle/_category_.json
  packages/website/docs/components/8.breadcrumb/_category_.json
  packages/website/docs/components/8.breadcrumbs/_category_.json
Labels: package: components, package: website

docs(2.breadcrumbs.mdx): add aditional breadcrumbs example
  packages/website/docs/components/8.breadcrumbs/2.breadcrumbs.mdx
Labels: package: website

chore(components/*): init coming components
  packages/components/src/components/dropdown/.keep
  packages/components/src/components/menu-item/.keep
  packages/components/src/components/menu/.keep
Labels: package: components

docs(components/*): change some components doc slug
  packages/website/docs/components/2.avatar/avatar.mdx
  packages/website/docs/components/4.link/link.mdx
  packages/website/docs/components/5.label/label.mdx
  packages/website/docs/components/6.helper-text/helper-text.mdx
  packages/website/docs/components/7.form-controls/1.input.mdx
  packages/website/docs/components/7.form-controls/2.checkbox.mdx
  packages/website/docs/components/7.form-controls/3.radio.mdx
  packages/website/docs/components/7.form-controls/4.toggle.mdx
Labels: package: website

feat(dropdown): initial dropdown compoennt
  packages/components/src/components/dropdown/.keep
  packages/components/src/components/dropdown/dropdown.css
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/index.html
Labels: package: components

feat(dropdown): dropdown second version
  packages/components/src/components/dropdown/dropdown.css
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/index.html
Labels: package: components

feat(dropdown/*): some adjustment to the dropdown component
  packages/components/src/components/dropdown/dropdown.css
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/index.html
Labels: package: components

feat(dropdown/*): dropdown final version
  packages/components/src/components/dropdown/dropdown.css
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/index.html
Labels: package: components

test(dropdown/*): add dropdown unit tests and e2e tests
  packages/components/src/components/dropdown/dropdown.e2e.ts
  packages/components/src/components/dropdown/dropdown.spec.ts
Labels: package: components

docs(dropdown.mdx): add dropdown documentation
  packages/components/src/components/dropdown/dropdown.css
  packages/components/src/index.html
  packages/website/docs/components/10.menu/1.menu-item.mdx
  packages/website/docs/components/10.menu/2.menu.mdx
  packages/website/docs/components/10.menu/_category_.json
  packages/website/docs/components/9.dropdown/_category_.json
  packages/website/docs/components/9.dropdown/dropdown.mdx
Labels: package: components, package: website

feat(menu-item/*): implement basic menu item component
  packages/components/src/components/dropdown/dropdown.tsx
  packages/components/src/components/label/label.css
  packages/components/src/components/menu-item/.keep
  packages/components/src/components/menu-item/menu-item.css
  packages/components/src/components/menu-item/menu-item.tsx
  packages/components/src/index.html
Labels: package: components

test(menu-item/*): menu-item unit tests and e2e tests (basics)
  packages/components/src/components/menu-item/__snapshots__/menu-item.spec.ts.snap
  packages/components/src/components/menu-item/menu-item.e2e.ts
  packages/components/src/components/menu-item/menu-item.spec.ts
Labels: package: components

docs(1.menu-item.mdx): basic menu item documentation
  packages/website/docs/components/10.menu/1.menu-item.mdx
Labels: package: website

fix(menu-item.tsx): small class fix
  packages/components/src/components/menu-item/menu-item.tsx
Labels: package: components

docs(1.menu-item.mdx): add figma link
  packages/website/docs/components/10.menu/1.menu-item.mdx
Labels: package: website

feat(menu/*): menu first version
  packages/components/src/components/menu/.keep
  packages/components/src/components/menu/menu.css
  packages/components/src/components/menu/menu.tsx
  packages/components/src/index.html
Labels: package: components

chore(license): change apache license to mit license
  LICENSE
Labels: root

fix(menu/*): soma fixes in the menu styles
  packages/components/src/components/menu/menu.css
  packages/components/src/components/menu/menu.tsx
Labels: package: components

style(styles/*): add sanitize and reorder css files
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/index.html
  packages/components/src/styles/index.css
  packages/components/src/styles/sanitize.css
  packages/components/src/styles/variables.css
  packages/components/stencil.config.ts
  packages/website/docs/getting-started/design/figma.mdx
Labels: root, package: components, package: website

test(menu/*,menu-item/*): some menu test adjustments
  packages/components/src/components/menu-item/__snapshots__/menu-item.spec.ts.snap
  packages/components/src/components/menu-item/menu-item.e2e.ts
  packages/components/src/components/menu-item/menu-item.spec.ts
  packages/components/src/components/menu/__snapshots__/menu.spec.ts.snap
  packages/components/src/components/menu/menu.spec.ts
  packages/components/src/components/menu/menu.tsx
Labels: package: components

style(menu/*): improve menu responsive styles
  packages/components/src/components/breadcrumbs/breadcrumbs.css
  packages/components/src/components/menu-item/menu-item.tsx
  packages/components/src/components/menu/menu.css
Labels: package: components

docs(menu/*): fix menu preview examples
  packages/website/docs/components/10.menu/1.menu-item.mdx
  packages/website/docs/components/10.menu/2.menu.mdx
  packages/website/docs/components/9.dropdown/dropdown.mdx
Labels: package: website

style(menu.css): add jsdoc to the menu styles
  packages/components/src/components/menu/menu.css
Labels: package: components

feat(menu/*): add menu item href support
  packages/components/src/components/dropdown/dropdown.css
  packages/components/src/components/label/label.css
  packages/components/src/components/menu-item/menu-item.tsx
  packages/components/src/index.html
  packages/website/docs/components/10.menu/2.menu.mdx
Labels: package: components, package: website
